<ng-container *ngIf="course$ | async as course">
  <div class="course-notice danger" *ngIf="!course.enabled">
    <h3>Course is not currently active</h3>
    <p>Activate it in the sidebar during exercise sessions</p>
  </div>

  <ng-container *ngIf="trashCans$ | async as trashCans">
    <ng-container *ngIf="trashCans.length === 0; then noTrashCans; else trashCansPresent"></ng-container>

    <ng-template #noTrashCans>
      <h4>
        There are currently no trash cans
      </h4>
    </ng-template>

    <ng-template #trashCansPresent>
      <div class="tablefix-wrapper">
        <table class="trash-cans">
          <thead>
          <tr>
            <th>Room number</th>
            <th>Posted at</th>
            <th>Resolve</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let trashCan of trashCans" class="trash-can">
            <td class="room">
              {{ trashCan.room }}
            </td>
            <td *ngIf="trashCan.created" class="created">
              {{ trashCan.created * 1000 | date : 'HH:mm on EE MMMM d' }}
            </td>
            <td class="delete">
              <i (click)="deleteTrashCan(trashCan)" class="material-icons clickable">
                delete_forever
              </i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ng-container>

</ng-container>
