<ng-container *ngIf="courses$ | async as courses">

  <ng-container *ngIf="auth.isAdmin(); then admin; else notAdmin"></ng-container>
  <ng-template #notAdmin>
    <ng-container *ngIf="auth.isTA(); then ta; else student"></ng-container>
  </ng-template>

  <ng-template #admin>
    <app-emphasized><h1>All courses</h1></app-emphasized>
    <ul>
      <li *ngFor="let course of courses">
        <course-link [course]="course"></course-link>
      </li>
    </ul>
  </ng-template>

  <ng-template #ta>
    <app-emphasized><h1>Your courses</h1></app-emphasized>
    <ul>
      <li *ngFor="let course of relevantCourses(courses)">
        <course-link [course]="course"></course-link>
      </li>
    </ul>
  </ng-template>

  <ng-template #student>
    <app-emphasized><h1>Active courses</h1></app-emphasized>
    <ul>
      <li *ngFor="let course of activeCourses(courses)">
        <course-link [course]="course"></course-link>
      </li>
    </ul>

    <ng-container *ngIf="!activeCourses(courses).length">
      <h2>There are no exercise sessions... in session</h2>
      <h4>Please check back later or ask your TA to enable the course</h4>
    </ng-container>
  </ng-template>

</ng-container>

