$danger: #cc3f3f;
$active: #2196f3;

$pri-col: $active;
$pri-col-hover: #448aff;
$pri-col-active: #1976d2;

$bg-grey-light: #f5f5f5;
$bg-grey-light-hover: #f1f1f1;
$bg-grey-light-focus: #eeeeee;

$bg-grey-dark: #616161;
$bg-grey-dark-hover: #BDBDBD;
$bg-grey-dark-focus: #dddddd;

$txt-dark: #616161;
$txt-dark-hover: #757575;
$txt-dark-active: #424242;

$disabled: #aaa;
$disabled-text: #f5f5f5;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1rem;
$font-size-h5: 0.8rem;
