@import '~src/sass/variables';

.request-help-container {
  height: 9rem;

  h2 {
    margin-top: 3rem;
    font-size: 1.3rem;
    text-align: center;
  }

  form {
    width: 20rem;
    margin: 0 auto;

    input, button {
      display: inline-block;
      margin: 0;
    }

    button {
      width: 5rem;
      float: right;
    }

    input {
      width: 15rem;
    }
  }

  .retract-trash-can {
    width: 100%;

    .btn {
      margin: 0 auto;
      display: block;
    }
  }
}
