<footer>
  <p *ngIf="auth.loggedIn()">
    Logged in as {{ auth.user.role }}.
    <span (click)="auth.logout()" class="pressable">Click here</span> to log out - <a href="/assets/help/{{auth.user.role !== 'student' ? 'non-' : ''}}students.pdf" target="_blank">Click here</a> for help with using the system
  </p>

  <p *ngIf="!auth.loggedIn()">
    Not a student?
    <span (click)="clickLogin()" class="pressable">Click here</span> to log in - <a href="/assets/help/students.pdf" target="_blank">Click here</a> for help with using the system</p>
</footer>
