@import '~src/sass/variables';

footer {
  position: fixed;
  z-index: 1;
  left: 0; right: 0; bottom: 0;
  color: white;
  font-size: .7rem;
  background-color: $bg-grey-dark;
  height: 2rem;
  text-align:center;
  padding: 0 1rem;

  span {
    text-decoration: underline;
  }
}
