<h1>{{ auth.isAdmin() ? '' : 'Your' }} Courses</h1>

<ng-container *ngIf="(auth.user$ | async)?.role === 'admin'">
  <h3>Select department to edit course from</h3>
  <form [formGroup]="coursesFilterForm" (ngSubmit)="submitCourse()">
    <label for="departmentFilterSlug">
      Select department
    </label>
    <select
      id="departmentFilterSlug"
      class="form-control"
      formControlName="departmentSlug"
      required>
      <option value="" disabled selected>Select a department</option>
      <option *ngFor="let department of departments$ | async" [value]="department.slug">
        {{ department.title }}
      </option>
    </select>
  </form>
</ng-container>

<ng-container *ngIf="courses$ | async as courses">
  <div class="tablefix-wrapper">
    <table class="course-list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Department</th>
          <th>Shorthand</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses" class="course">
          <td class="title">{{ course.title }}</td>
          <td class="department">{{ course.departmentSlug }}</td>
          <td class="slug">{{ course.slug.toUpperCase() }}</td>
          <td (click)="editCourse(course)" class="edit">
            <i class="material-icons clickable">edit</i>
          </td>
          <td (click)="deleteCourse(course)" class="delete">
            <i class="material-icons clickable">delete_forever</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<div class="course-edit">
  <h3>{{ editing ? ('Edit the ' + courseBeingEdited.slug.toUpperCase() + ' course') : 'Add a new course'}}</h3>
  <form [formGroup]="courseForm" (ngSubmit)="submitCourse()">

    <div class="form-field">
      <label for="title" class="visible">Title</label>
      <input
        placeholder="E.g. Principles of Operating Systems and Concurrency"
        type="text"
        id="title"
        name="course-title"
        class="form-control"
        formControlName="title"
        required />
      <div *ngIf="f.title.dirty && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </div>

    <div class="form-field">
      <label for="departmentSlug" class="visible">Department</label>
      <select
        id="departmentSlug"
        class="form-control"
        formControlName="departmentSlug"
        required>

        <option value="" disabled selected>Select a department</option>
        <option *ngFor="let department of departments$ | async" [value]="department.slug">
          {{ department.title }}
        </option>

      </select>
    </div>

    <div class="form-field">
      <label for="courseSlug" class="visible">Shorthand</label>
      <input
        placeholder="E.g. PSS"
        type="text"
        id="courseSlug"
        name="course-slug"
        class="form-control"
        formControlName="courseSlug"
        required />
      <div *ngIf="f.courseSlug.dirty && f.courseSlug.errors" class="invalid-feedback">
        <div *ngIf="f.courseSlug.errors.required">Shorthand is required</div>
        <div *ngIf="f.courseSlug.errors.minlength">Shorthand must be at least 2 characters</div>
        <div *ngIf="f.courseSlug.errors.maxlength">Shorthand must be less than 6 characters</div>
        <div *ngIf="f.courseSlug.errors.courseSlugTaken">Shorthand must be unique in the department</div>
      </div>
    </div>

    <div class="tablefix-wrapper">
      <table class="user-list">
        <thead>
        <tr>
          <th>User</th>
          <th>Role</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of associatedUsers" class="user">
          <td class="user">
            <span class="block name">{{ user.name }}</span>
            <span class="explanation email">{{ user.email }}</span>
          </td>
          <td class="role">{{ user.role }}</td>
          <td (click)="removeUserFromCourse(user)" class="delete">
            <i class="material-icons clickable">delete_forever</i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <form class="no-detail inline-button"
          [formGroup]="usersForm"
          (ngSubmit)="onUserFormSubmit()">
      <label for="query">
        AAU email or name
      </label>
      <input type="text"
             id="query"
             name="help-aau-user-search"
             autocomplete="off"
             required
             formControlName="query"
             placeholder="Enter a name or valid AAU email">
      <button *ngIf="(foundUsers$ | async)?.length === 0 && usersForm.valid"
              type="submit"
              class="btn">
        Create and add
      </button>
      <button *ngIf="(foundUsers$ | async)?.length === 0 && usersForm.valid"
              type="submit"
              class="btn">
        Add
      </button>

      <div *ngIf="(foundUsers$ | async)?.length === 0" class="info">
    <span *ngIf="usersForm.invalid && (usersForm.touched || usersForm.dirty) && usersForm.value.query">
      No users found. Enter a valid AAU email (ending in '.aau.dk') to add a new user
    </span>

        <span *ngIf="(foundUsers$ | async)?.length === 0 && usersForm.valid">
      This user does not exist in the system yet, but can be added
    </span>
      </div>
    </form>

    <button *ngIf="editing" type="button" class="btn btn-danger fl" (click)="resetForm()">Cancel</button>
    <button [disabled]="courseForm.invalid || courseForm.pending" type="submit" class="btn fr">{{ editing ? 'Update' : 'Create' }}</button>
  </form>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
