<ng-template #loading>
  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-template>

<div *ngIf="institutes && institutes.length; else loading">
  <h1 class="course-title">Departments with Courses</h1>

  <ul>
    <li *ngFor="let institute of institutes">
      <a [routerLink]="['/', 'departments', institute.slug , 'courses']" class="institute-link">
        {{ institute.title }}
      </a>
    </li>
  </ul>
</div>
