<div class="modal-wrapper" *ngIf="modalService.modal">
  <div class="modal">
      <span>{{ modalService.modal.message }}</span>
      <div>

        <button class="btn" [ngClass]="modalService.modal.leftSide.type" type="button" (click)="modalService.resolve(modalService.modal.leftSide)">
            {{ modalService.modal.leftSide.text }}
        </button>

        <button class="btn" [ngClass]="modalService.modal.rightSide.text" type="button" (click)="modalService.cancel(modalService.modal.rightSide)">
          {{ modalService.modal.rightSide.text }}
        </button>
      </div>
  </div>
</div>
