<ng-template #loading>
  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-template>

<ng-container *ngIf="course$ | async as course; else loading">
  <h1 class="course-title">{{ course.title }}</h1>

  <ng-container *ngIf="auth.canAssistInCourse(course); then assistant; else student"></ng-container>

  <ng-template #assistant>
    <app-assistant></app-assistant>
  </ng-template>

  <ng-template #student>
    <app-student></app-student>
  </ng-template>

  <app-posts></app-posts>
</ng-container>
