:host {
  position: relative;
  text-align: center;
  display: block;
  height: 4rem;

  .fill-line {
    height: 0.1rem;
    background: #d4d4d4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

:host /deep/ :not(.fill-line) {
  transform: translate(-50%, -50%);
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 2rem;
  margin: 0;
}
