<ng-container *ngIf="courses$ | async as courses">

  <ng-container *ngIf="auth.isAdmin(); then admin; else notAdmin"></ng-container>
  <ng-template #notAdmin>
    <ng-container *ngIf="auth.isTA(); then ta; else student"></ng-container>
  </ng-template>

  <ng-template #admin>
    <h1>All courses</h1>
    <course-link *ngFor="let course of courses" [course]="course"></course-link>
  </ng-template>

  <ng-template #ta>
    <h1>Your courses</h1>
    <course-link *ngFor="let course of relevantCourses(courses)" [course]="course"></course-link>
  </ng-template>

  <ng-template #student>
    <h1>Active courses</h1>
    <course-link *ngFor="let course of activeCourses(courses)" [course]="course"></course-link>

    <ng-container *ngIf="!activeCourses(courses).length">
      <h2>There are no exercise sessions... in session</h2>
      <h4>Please check back later or ask your TA to enable the course</h4>
    </ng-container>
  </ng-template>

</ng-container>
