<div class="fr">
  <label for="enabled">{{course.enabled ? "Disable" : "Enable"}} exercise session</label>

  <label class="visible" for="course-enable-switch">{{course.enabled ? "Disable" : "Enable"}} exercise session</label>
  <div class="switch" id="course-enable-switch" (click)="toggleCourseEnabled()">
    <input type="checkbox" [checked]="course.enabled"/>
    <span class="slider"></span>
  </div>
  <br>
  <label class="visible" for="notifications-enable-switch">{{notificationToken ? "Disable" : "Enable"}} notifications for this device</label>
  <div class="switch" id="notifications-enable-switch" (click)="toggleNotificationsEnabled()">
    <input type="checkbox" [checked]="notificationToken"/>
    <span class="slider"></span>
  </div>
</div>

<h2>Welcome {{ (auth.user$ | async)?.name }}</h2>
<ng-container *ngIf="trashCans$ | async as trashCans">
  <div *ngIf="trashCans.length > 0">
    <table class="trash-cans">
      <tr>
        <th>Room number</th>
        <th>Posted at</th>
        <th>Resolve</th>
      </tr>
      <tr *ngFor="let trashCan of trashCans" class="trash-can">
        <td class="room">
          {{ trashCan.room }}
        </td>
        <td *ngIf="common.documentIsCreatedDatePresent(trashCan)" class="created">
          {{ trashCan.created.seconds * 1000 | date : 'HH:mm on EE MMMM d, yyyy' }}
        </td>
        <td (click)=deleteTrashCan(trashCan) class="delete">
          <i class="material-icons clickable">delete_forever</i>
        </td>
      </tr>
    </table>
  </div>
</ng-container>
