<div class="fr">
  <label for="enabled">{{course.enabled ? "Disable" : "Enable"}} exercise session</label>
  <div class="switch tooltip" (click)="toggleCourseEnabled()">
    <span class="tooltiptext">{{course.enabled ? "Disable" : "Enable"}} exercise session</span> 
    <input id="enabled" name="enabled" type="checkbox" [checked]="course.enabled"/>
    <span class="slider"></span>
  </div>

  <ng-container *ngIf="(hasNotificationToken() | async); then notificationsEnabled; else notificationsDisabled"></ng-container>

  <ng-template #notificationsEnabled>
    <button (click)="requestNotificationToken()">Get notifications</button>
  </ng-template>

  <ng-template #notificationsDisabled>
    <button (click)="deleteNotificationToken( )">Stop notifications</button>
  </ng-template>

</div>

<h2>Welcome {{ (auth.user$ | async)?.name }}</h2>
<ng-container *ngIf="trashCans$ | async as trashCans">
  <div *ngIf="trashCans.length > 0">
    <table class="trash-cans">
      <tr>
        <th>Room number</th>
        <th>Posted at</th>
        <th>Resolve</th>
      </tr>
      <tr *ngFor="let trashCan of trashCans" class="trash-can">
        <td class="room">
          {{ trashCan.room }}
        </td>
        <td *ngIf="common.documentIsCreatedDatePresent(trashCan)" class="created">
          {{ trashCan.created.seconds * 1000 | date : 'HH:mm on EE MMMM d, yyyy' }}
        </td>
        <td (click)=deleteTrashCan(trashCan) class="delete">
          <i class="material-icons clickable">delete_forever</i>
        </td>
      </tr>
    </table>
  </div>
</ng-container>
