@import '~src/sass/variables';

.page {
  width: 100%;
  position: relative;
  margin: 3rem 0 0 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width:50rem;
  padding: 1rem;
  // padding-top: 3rem;
  background-color: white;
  box-shadow: black 0 15px 41px -36px;
  border-radius: 0 0 5px 5px;
  margin: 1rem auto 3rem;
}
