<ng-container *ngIf="courses$ | async as courses; else loader">
  <h1>Courses</h1>

  <div class="course-edit">
    <h3>Add a new course</h3>
    <form [formGroup]="form" (ngSubmit)="submitCourse()">

      <div class="form-field">
        <label for="title" class="visible">Title</label>
        <input
          placeholder="E.g. Principles of Operating Systems and Concurrency"
          type="text"
          id="title"
          name="course-title"
          class="form-control"
          formControlName="title"
          required />
        <div *ngIf="f.title.dirty && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>

      <div class="form-field">
        <label for="instituteSlug" class="visible">Institute</label>
        <select
          id="instituteSlug"
          class="form-control"
          formControlName="instituteSlug"
          required>

          <option value="" disabled selected>Select an institute</option>
          <option *ngFor="let institute of institutes$ | async" [value]="institute.slug">
            {{ institute.title }}
          </option>

        </select>
      </div>

      <div class="form-field">
        <label for="courseSlug" class="visible">Shorthand</label>
        <input
          placeholder="E.g. PSS"
          type="text"
          id="courseSlug"
          name="course-slug"
          class="form-control"
          formControlName="courseSlug"
          required />
        <div *ngIf="f.courseSlug.dirty && f.courseSlug.errors" class="invalid-feedback">
          <div *ngIf="f.courseSlug.errors.required">Shorthand is required</div>
          <div *ngIf="f.courseSlug.errors.minlength">Shorthand must be at least 2 characters</div>
          <div *ngIf="f.courseSlug.errors.maxlength">Shorthand must be less than 6 characters</div>
          <div *ngIf="f.courseSlug.errors.courseSlugTaken">Shorthand must be unique in the institute</div>
        </div>
      </div>

      <button [disabled]="form.invalid || form.pending" type="submit" class="btn">{{ editing ? 'Update' : 'Create' }}</button>
    </form>
  </div>

  <table class="course-list">
    <tr>
      <th>Title</th>
      <th>Institute</th>
      <th>Shorthand</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let course of courses" class="course">
      <td class="title">{{ course.title }}</td>
      <td class="institute">{{ course.instituteSlug }}</td>
      <td class="slug">{{ course.slug.toUpperCase() }}</td>
      <td (click)="editCourse(course)" class="edit">
        <i class="material-icons clickable">edit</i>
      </td>
      <td (click)="deleteCourse(course)" class="delete">
        <i class="material-icons clickable">delete_forever</i>
      </td>
    </tr>
  </table>

</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
