<ng-container *ngIf="courses$ | async as courses; else loader">
  <h1>{{ auth.isAdmin() ? 'All' : 'Your' }} Courses</h1>

  <table class="course-list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Department</th>
        <th>Shorthand</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses" class="course">
        <td class="title">{{ course.title }}</td>
        <td class="institute">{{ course.instituteSlug }}</td>
        <td class="slug">{{ course.slug.toUpperCase() }}</td>
        <td (click)="editCourse(course)" class="edit">
          <i class="material-icons clickable">edit</i>
        </td>
        <td (click)="deleteCourse(course)" class="delete">
          <i class="material-icons clickable">delete_forever</i>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="course-edit">
    <h3>{{ editing ? ('Edit the ' + courseBeingEdited.slug.toUpperCase() + ' course') : 'Add a new course'}}</h3>
    <form [formGroup]="form" (ngSubmit)="submitCourse()">

      <div class="form-field">
        <label for="title" class="visible">Title</label>
        <input
          placeholder="E.g. Principles of Operating Systems and Concurrency"
          type="text"
          id="title"
          name="course-title"
          class="form-control"
          formControlName="title"
          required />
        <div *ngIf="f.title.dirty && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>

      <div class="form-field">
        <label for="instituteSlug" class="visible">Department</label>
        <select
          id="instituteSlug"
          class="form-control"
          formControlName="instituteSlug"
          required>

          <option value="" disabled selected>Select an department</option>
          <option *ngFor="let institute of institutes$ | async" [value]="institute.slug">
            {{ institute.title }}
          </option>

        </select>
      </div>

      <div class="form-field">
        <label for="courseSlug" class="visible">Shorthand</label>
        <input
          placeholder="E.g. PSS"
          type="text"
          id="courseSlug"
          name="course-slug"
          class="form-control"
          formControlName="courseSlug"
          required />
        <div *ngIf="f.courseSlug.dirty && f.courseSlug.errors" class="invalid-feedback">
          <div *ngIf="f.courseSlug.errors.required">Shorthand is required</div>
          <div *ngIf="f.courseSlug.errors.minlength">Shorthand must be at least 2 characters</div>
          <div *ngIf="f.courseSlug.errors.maxlength">Shorthand must be less than 6 characters</div>
          <div *ngIf="f.courseSlug.errors.courseSlugTaken">Shorthand must be unique in the department</div>
        </div>
      </div>

      <label>Users associated with course</label>
      <table class="user-list">
        <thead>
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assistant of assistants" class="user">
            <td class="user">
              <span class="block name">{{ assistant.name }}</span>
              <span class="explanation email">{{ assistant.email }}</span>
            </td>
            <td class="role">{{ assistant.role }}</td>
            <td (click)="removeAssistant(assistant.id)" class="delete">
              <i class="material-icons clickable">delete_forever</i>
            </td>
          </tr>
        </tbody>
      </table>

      <div [formGroup]="filterSearchForm">
        <label class="visible">Add user to course</label>
        <input placeholder="Search for user by name or email"
               formControlName="userSearch"
               type="text"
               (input)="(attemptAddUser($event.target.value) && $event.target.blur()) || userSearch($event.target.value);"
               list="userOptions">
        <datalist id="userOptions">
          <option *ngFor="let user of filteredUsers" value="{{user.email}}">{{user.name}}</option>
        </datalist>
      </div>

      <button *ngIf="editing" type="button" class="btn btn-danger fl" (click)="resetForm()">Cancel</button>
      <button [disabled]="form.invalid || form.pending" type="submit" class="btn fr">{{ editing ? 'Update' : 'Create' }}</button>
    </form>
  </div>

</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
