<ng-container *ngIf="courses$ | async as courses; else loader">
  <h1>Courses</h1>

  <table class="course-list">
      <tr>
        <th>Title</th>
        <th>Institute</th>
        <th>Shorthand</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let course of courses" class="course">
        <td class="title">{{ course.title }}</td>
        <td class="institute">{{ course.instituteSlug }}</td>
        <td class="slug">{{ course.slug.toUpperCase() }}</td>
        <td (click)="editCourse(course)" class="edit">
          <i class="material-icons clickable">edit</i>
        </td>
        <td (click)="deleteCourse(course)" class="delete">
          <i class="material-icons clickable">delete_forever</i>
        </td>
      </tr>
    </table>

  <div class="course-edit">
    <h3>{{ editing ? ('Edit the ' + courseBeingEdited.slug.toUpperCase() + ' course') : 'Add a new course'}}</h3>
    <form [formGroup]="form" (ngSubmit)="submitCourse()">

      <div class="form-field">
        <label for="title" class="visible">Title</label>
        <input
          placeholder="E.g. Principles of Operating Systems and Concurrency"
          type="text"
          id="title"
          name="course-title"
          class="form-control"
          formControlName="title"
          required />
        <div *ngIf="f.title.dirty && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>

      <div class="form-field">
        <label for="instituteSlug" class="visible">Institute</label>
        <select
          id="instituteSlug"
          class="form-control"
          formControlName="instituteSlug"
          required>

          <option value="" disabled selected>Select an institute</option>
          <option *ngFor="let institute of institutes$ | async" [value]="institute.slug">
            {{ institute.title }}
          </option>

        </select>
      </div>

      <div class="form-field">
        <label for="courseSlug" class="visible">Shorthand</label>
        <input
          placeholder="E.g. PSS"
          type="text"
          id="courseSlug"
          name="course-slug"
          class="form-control"
          formControlName="courseSlug"
          required />
        <div *ngIf="f.courseSlug.dirty && f.courseSlug.errors" class="invalid-feedback">
          <div *ngIf="f.courseSlug.errors.required">Shorthand is required</div>
          <div *ngIf="f.courseSlug.errors.minlength">Shorthand must be at least 2 characters</div>
          <div *ngIf="f.courseSlug.errors.maxlength">Shorthand must be less than 6 characters</div>
          <div *ngIf="f.courseSlug.errors.courseSlugTaken">Shorthand must be unique in the institute</div>
        </div>
      </div>

      <!-- <div class="form-field">
        <label for="query" class="visible">Search</label>
        <input
          placeholder="Search"
          type="text"
          id="query"
          name="query"
          class="form-control"
          formControlName="query" />
      </div>
      <div class="halfnhalf">
        <table class="lecturer-list">
          <tr>
            <th>E-Mail</th>
            <th class="icon">Demote</th>
          </tr>
          <tr *ngFor="let lecturer of filteredLecturers" class="lecturer">
            <td class="email">{{ lecturer.email }}</td>
            <td (click)="demote(lecturer)" class="demote icon">
              <i class="material-icons clickable">arrow_forward</i>
            </td>
          </tr>
        </table>
        <table class="user-list">
          <tr>
            <th class="icon">Promote</th>
            <th>E-Mail</th>
          </tr>
          <tr *ngFor="let user of filteredNonAdminAndLecturers" class="user">
            <td (click)="promote(user)" class="promote icon">
              <i class="material-icons clickable">arrow_back</i>
            </td>
            <td class="email">{{ user.email }}</td>
          </tr>
        </table>
      </div> -->

      <button [disabled]="form.invalid || form.pending" type="submit" class="btn fl">{{ editing ? 'Update' : 'Create' }}</button>
      <button *ngIf="editing" type="button" class="btn btn-danger fr" (click)="resetForm()">Cancel</button>
    </form>
  </div>

</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
