table td select {
  margin: 0;
}

form {
  margin: 0 auto;
  position: relative;

  input, button {
    display: inline-block;
    margin: 0;
  }

  button {
    position: absolute;
    right: 0;
    width: 5rem;
  }
}
