<h1>Roles</h1>
<h3>Set user role</h3>
<form class="no-detail"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <label for="email">
    AAU email
  </label>
  <input type="text"
         id="email"
         name="aau-email"
         autocomplete="off"
         required
         formControlName="email"
         placeholder="Enter a valid AAU email">
  <button *ngIf="!gettingUser && !(user$ | async) && form.valid"
          type="submit"
          class="btn">
    Add
  </button>

  <div *ngIf="(!gettingUser && !(user$ | async) && form.valid) || (form.invalid && (form.touched || form.dirty) && form.value.email)" class="info">
    <span *ngIf="!gettingUser && !(user$ | async) && form.valid">
      This user does not exist in the system yet, but can be added
    </span>

    <span *ngIf="form.invalid && (form.touched || form.dirty) && form.value.email">
      Please enter a valid AAU email (ending in '.aau.dk')
    </span>
  </div>

</form>

<div class="tablefix-wrapper">
  <table class="user-list" *ngIf="user$ | async as user">
    <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr class="user">
      <td class="user">
        <span class="block name">{{ user.name }}</span>
        <span class="explanation email">{{ user.email }}</span></td>
      <td>
        <select (change)="setRole(user, $event.target.value)"
                [value]='user.role'
                [disabled]='user.email == (auth.user$ | async)?.email'>
          <option value='admin'    >Admin</option>
          <option value='lecturer' >Lecturer</option>
          <option value='TA'       >TA</option>
          <option value='student'  >Student</option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
</div>
