body,html {
  margin: 0;
  padding: 0;
  background-color: #f9fbff;
  color: #626262;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-block-end: 0;
}

.container {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width:50rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  box-shadow: black 0px 15px 41px -36px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 3rem;
}

footer {
  color: white;
  font-size: .7rem;
  background-color: #626262;
  position: fixed;
  left: 0; right: 0;
  bottom: 0;
  height: 2rem;
  text-align:center;
  padding: 0 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}
ul > li::before {
  content: "-";
  padding-right: 0.5rem;
}

.mybutton {
  color: #626262;
  cursor: pointer;
  padding: 0 1rem;
  margin: 0;
  height: 2.3rem;
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  transition: border .2s, background .2s, color .2s, height .5s;
}

.mybutton:hover {
  color: white;
  border: 1px solid #666666;
  background: #666666;
}

input[type="text"] {
  padding:0;
  margin:0;
  padding-left: 1em;
  font-weight: bold;
  border: 1px solid #f4f4f4;
  height: 2.3rem;
  outline: 0;
  transition: height .5s;
}

input[type="text"]:focus {
  padding:0;
  margin:0;
  padding-left: 1em;
  font-weight: bold;
  border: 1px solid #f4f4f4;
  height: 3.3rem;
  outline: 0;
}

input[type="text"]:focus + button[type="submit"] {
  height: 3.3rem;
}

label {display: none;}

.get-help {
  margin-bottom: 64px;
}
.post {
  border-bottom: 1px solid #ebebeb;
  padding-top: 1rem;
  position: relative;
}

.posts .post:first-child {
  border-top: 1px solid #ebebeb;
}

.post .created {
  font-size: 0.6rem;
  color: #878787;
}

.post .content {
  overflow: hidden;
}

/* ADMIN */
.form-group {
  position: relative;
}

textarea {
  outline: 0;
  width: 100%;
  min-height: 10rem;
  resize: vertical;
  border: 1px solid #f4f4f4;
  padding: 0.4rem 1rem;
  box-sizing: border-box;
}

textarea + button {
  position: absolute;
  right: -1px;
  top: 0;
}

textarea + button[type="submit"]:hover {
  color: white;
  border: 1px solid #666666;
  background: #666666;
}

table.questions {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  text-align: left;
  padding: 0.5rem 1rem;
}

.questions tr:first-child {
  background-color: #e3e3e3;
}

tr {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

tr.question:nth-child(even) {background-color: #f2f2f2;}
tr.question:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

.post .actions {
  position: absolute;
  right: 0;
  top: 0;
}


markdown h1 {
  font-size: 1.5em;
}

markdown h2 {
  font-size: 1.17em;
}

markdown h3 {
  font-size: 1em;
}

markdown pre {
  background: whitesmoke;
  padding: 0.25rem 0.5rem;
}

.toasts {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
}

.toast {
  display: block;
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px 0 10px 10px;
  max-width: 300px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: 0 16px 38px rgba(0,0,0,0.50), 0 12px 12px rgba(0,0,0,0.22);
  color: #2e7d32;
}

@keyframes show-hide {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  2% {
    transform: translateY(0px);
    opacity: 1
  }

  80% {
    transform: translateY(0px);
    opacity: 1
  }

  100% {
    transform: translateX(0px);
    opacity: 0
  }
}
