<div class="tablefix-wrapper">
  <label class="visible">Associated users</label>
  <table class="user-list">
    <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" class="user">
      <td class="user">
        <span class="block name">{{ user.name }}</span>
        <span class="explanation email">{{ user.email }}</span>
      </td>
      <td class="role">{{ showRole(user.role) }}</td>
      <td (click)="removeUser(user)" class="delete">
        <i class="material-icons clickable">delete_forever</i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
