<div class="burger-button" (click)="openMenu()">☰</div>

<div class="burger-bar {{open ? 'open' : ''}}">
  <div class="top">
    <div class="name"
         *ngIf="auth.user && !auth.user.anon && auth.user$ | async as user">
      <div class="fl">
        <label>
          {{ user.name }}
        </label>
        <label class="sublabel">
          {{ user.role === 'TA' ? 'Teaching assistant' : user.role }}
        </label>
      </div>
    </div>

    <div class="close"
         (click)="closeMenu()">
      <div class="fr">
        <label>
          ×
        </label>
      </div>
    </div>
  </div>

  <!-- If we're on a course page -->
  <ng-container *ngIf="sessionService.getCourse$() | async as course">
    <!-- If is TA or Lecturer on course -->
    <ng-container *ngIf="auth.canAssistInCourse(course)">

      <!-- Enable-course switch -->
      <div class="menu-item" (click)="toggleCourseEnabled(course)">
        <div class="fl">
          <label>
            Exercise session
          </label>
          <label class="sublabel">
            Let students ask for help
          </label>
        </div>
        <div class="switch">
          <input id="course-enable-switch" type="checkbox" [checked]="course.enabled"/>
          <span class="slider"></span>
        </div>
      </div>

      <!-- Enable-trashcan-notifications switch -->
      <div class="menu-item" (click)="toggleNotificationsEnabled(course)">
        <div class="fl">
          <label>
            Notifications
          </label>
          <label class="sublabel">
            On this device, for this course
          </label>
        </div>
        <div class="switch">
          <input id="notifications-enable-switch" type="checkbox" [checked]="notificationToken" [disabled]="tokenToggleBusy"/>
          <span class="slider"></span>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="bottom">
    <a class="menu-item"
       *ngIf="auth.isAdmin() || auth.isLecturer()"
       (click)="closeMenu()"
       [routerLink]="['/admin']">
      <div class="fl">
        <label>
          Admin panel
        </label>
        <label class="sublabel">
          Administrate the system
        </label>
      </div>
    </a>

    <a class="menu-item"
       href="/assets/help/{{(auth.user$ | async)?.role !== 'student' ? 'non-' : ''}}students.pdf"
       target="_blank">
      <div class="fl">
        <label>
          Help with help.aau.dk
        </label>
        <label class="sublabel">
          Write us if something isn't working
        </label>
      </div>
    </a>

    <a class="menu-item"
       (click)="bugClicked()"
       href="mailto:achri15@student.aau.dk, hsaren14@student.aau.dk?subject=[help.aau.dk][Bugs]%20"
       target="_blank">
      <div class="fl">
        <label>
          Report a bug
        </label>
        <label class="sublabel">
          Write us if something isn't working
        </label>
      </div>
    </a>

    <div class="menu-item"
         *ngIf="auth.loggedIn();"
         (click)="auth.logout()">
      <div class="fl">
        <label>
          Log out
        </label>
      </div>
    </div>

    <div class="menu-item"
         *ngIf="!auth.loggedIn();"
         (click)="auth.loginAAU()">
      <div class="fl">
        <label>
          Log In
        </label>
        <label class="sublabel">
          For TAs, lecturers and administrators only
        </label>
      </div>
    </div>
  </div>

</div>
