<ng-container *ngIf="auth.isPromotedUser()">
  <div class="burger-button" (click)="openMenu()">☰</div>

  <div class="burger-bar {{open ? 'open' : ''}}">
    <div class="close menu-item" (click)="closeMenu()">×</div>

    <ng-container *ngIf="sessionService.getCourse$() | async as course">

      <!-- Enable-course switch -->
      <ng-container *ngIf="auth.canAssistInCourse(course)">
        <div class="menu-item" (click)="toggleCourseEnabled(course)">
          <div class="floater fl">
            <label class="visible">Exercise session</label>
            <label class="visible sublabel">Let students ask for help</label>
          </div>
          <div class="switch">
            <input id="course-enable-switch" type="checkbox" [checked]="course.enabled"/>
            <span class="slider"></span>
          </div>
        </div>

        <!-- Enable-trashcan-notifications switch -->
        <div class="menu-item" (click)="toggleNotificationsEnabled(course)">
          <div class="floater fl">
            <label class="visible">Notifications</label>
            <label class="visible sublabel">On this device, for this course</label>
          </div>
    
          <div class="switch">
            <input id="notifications-enable-switch" type="checkbox" [checked]="notificationToken" [disabled]="tokenToggleBusy"/>
            <span class="slider"></span>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="bottom">
      <ng-container *ngIf="auth.isAdmin() || auth.isLecturer()">
        <a class="menu-item" (click)="closeMenu()" [routerLink]="['/admin']">
          <div class="floater fl">
            <label class="visible">Admin page</label>
            <label class="visible sublabel">Administrate the system</label>
          </div>
        </a>
      </ng-container>
      <div class="menu-item" (click)="auth.logout()">
        <div class="floater fl">
          <label class="visible">Log out</label>
        </div>
      </div>
    </div>

  </div>
</ng-container>
