@import '~src/sass/variables';

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: block;
  background: white;
  z-index: 3;
  box-shadow: 0px -42px 40px 19px;

  .button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.5rem;
    line-height: 3rem;
    cursor: pointer;
    padding: 0 1rem;
    float: left;

    &:hover {
      color: $bg-grey-dark-hover;
    }

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

.menu {
  width: 16rem;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 3;
  right: -17rem;
  transition: right .4s;
  background: #616161;
  color: white;
  box-shadow: black 6px 0 20px 2px;
  user-select: none;

  &.open {
    right: 0;
  }

  label {
    cursor: pointer;
    display: block;
  }

  .top {
    border-bottom: 1px solid #f5f5f5;
    height: 3.8rem;

    .name {
      box-sizing: border-box;
      padding: 1rem;
      float: left;
      color: white;
      width: 13rem;
      border-right: 1px solid #f5f5f5;

      label {
        cursor: default;
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 11rem;
        overflow: hidden;
      }
    }

    .close {
      width: 3rem;
      height: 100%;
      box-sizing: border-box;
      float: right;
      padding: 0 1rem;
      line-height: 3.8rem;
      font-size: 2rem;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: hsla(0, 0%, 45%, 1);
      }
    }
  }

  .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;

    border-top: 1px solid #f5f5f5;
  }

  .menu-item {
    padding: 1rem;
    display: block;
    clear: both;
    border-bottom: 1px solid #f5f5f5;
    overflow: hidden;
    color: white;
    cursor: pointer;

    &:hover {
      background: hsla(0, 0%, 45%, 1);
    }

    &:last-child {
      border-bottom: none;
    }

    .switch {
      float: right;
      margin: 0.3rem 0 0 1rem;
    }
  }
}
